<script>
  let counter = 0;
</script>

<div class="my-couter">
  <p class="counter">{ counter }</p>
  <button on:click={() => counter -= 1}>SUB</button>
  <button on:click={() => counter += 1}>ADD</button>
</div>

<style>
  .my-couter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 200px;
    gap: 1rem;
  }

  .counter {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    border: 3px solid gray;
    aspect-ratio: 1/1;
    border-radius: 50%;
    justify-self: center;
  }
</style>