<script>
  import Mycounter from '$lib/MyCounter.svelte';

</script>


<h1>It's just a test page</h1>
<div class="my-counter-elmt">
  <Mycounter></Mycounter>
</div>

<style>
  .my-counter-elmt {
    display: flex;
    justify-content: center;
  }
</style>